.contact {
    padding: 10rem 2rem 4rem;
    background-color: #2D3D2E;
    color: #E8E9EB;
}

.contact-container {
   max-width: 40rem; 
   margin: 0 auto;
}

.contact-section-padding {
    padding-bottom: 2rem;
}

.contact-form-padding {
    margin-top: .5rem;
}

.contact-form-text-padding {
    margin-bottom: 1rem;
}

.contact-button-margin {
    margin-top: 2rem;
}

.input-field {
    display: block;
    border-radius: .5rem;
    border-style: none;
    font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 300;
  letter-spacing: .1rem;
  font-size: 16px;
}

.name-input-field, .email-input-field {
    width: 100%;
    height: 2rem;
    padding: 0 .5rem;
}

.message-field {
    width: 100%;
    padding: .5rem;
}

.form-submit-button {
    text-align: center;
}

@media only screen and (min-width: 50rem) {

}

@media only screen and (min-width: 70rem) {
    
}