.home-intro, .home-about-me, .home-gallery {
    background-color: #2D3D2E;
}

.home-intro {
padding-top: 9rem;
}

.contentWrapper {
height: 100vh;
overflow-y: auto;
overflow-x: hidden;
perspective: 10px;
}

.parallaxImageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.home-devider-image {
    position: absolute;
    height: 100%;
    width: 100vw;
    object-fit: cover;
}

.home-paralax {
    transform: translateZ(-10px) scale(2);
}

.home-body-text, .home-heading-text {
    color: #E8E9EB;
}

.text-feature-text {
    font-size: 1.6rem
}

.home-text-align, .text-feature-text {
    text-align: center;
}

.home-section-padding {
    padding-bottom: 2rem;
}

.home-text-padding {
    padding-bottom: .5rem;
}

.home-devider {
    display: block;
    height: .1rem;
    background-color: #E8E9EB;
    margin: 0 2rem;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0 1rem;
    padding: 4rem 2rem;
}

.home-intro-section {
    grid-template-rows: repeat(7, auto);
}

.text-feature-line-1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.text-feature-line-2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.text-feature-line-3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-bottom: 2rem;
}

.home-intro-feature-image {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.home-intro-text {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}

.home-intro-contact-button-link {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
}

.home-about-me {
    grid-template-rows: repeat(5, auto);
}

.home-about-me-image {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.home-about-me-heading {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.home-about-me-text {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.home-about-me-button-link {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.home-gallery {
    grid-template-rows: repeat(2, auto);
}

.home-gallery-image {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.home-gallery-button-link {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

@media only screen and (min-width: 50rem) {
    .home-intro {
        padding-top: 6rem;
    }
    
    .home-section-padding {
        padding-bottom: 0;
    }

    .text-feature-text {
        padding-bottom: 1rem;
    }

    .home-button-padding {
        padding-bottom: 2rem;
    }

    .home-text-align {
        text-align: left;
    }

    .home-grid {
        grid-template-columns: repeat(8, 1fr);
        padding: 4rem 5rem ;
    }

    .home-intro {
        grid-template-rows: repeat(6, auto);
    }

    .text-feature-text {
        font-size: 2.3rem;
    }

    .text-feature-line-1 {
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .text-feature-line-2 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .text-feature-line-3 {
        grid-column-start: 3;
        grid-column-end: 8;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .home-intro-feature-image {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 8;
    }
    
    .home-intro-text {
        grid-column-start: 6;
        grid-column-end: 9;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    
    .home-intro-contact-button-link {
        grid-column-start: 6;
        grid-column-end: 9;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .home-about-me {
        grid-template-rows: repeat(6, auto);
    }
    
    .home-about-me-image {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 6;
        min-width: 20rem;
    }
    
    .home-about-me-heading {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .home-about-me-text {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    .home-about-me-button-link {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    
    .home-gallery {
        grid-template-rows: repeat(2, auto);
    }
    
    .home-gallery-image {
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .home-gallery-button-link {
        grid-column-start: 6;
        grid-column-end: 9;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

@media only screen and (min-width: 70rem) {
    .home-grid {
        grid-template-columns: repeat(12, 1fr);
        padding: 8rem 4.375rem 4rem;
    }

    .text-feature-text {
        font-size: 4rem;
    }

    .home-button-padding {
        padding-bottom: 3rem;
    }

    .text-feature-line-1 {
        grid-column-start: 2;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .text-feature-line-2 {
        grid-column-start: 6;
        grid-column-end: 13;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .text-feature-line-3 {
        grid-column-start: 4;
        grid-column-end: 11;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .home-intro-feature-image {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 8;
    }
    
    .home-intro-text {
        grid-column-start: 8;
        grid-column-end: 12;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    
    .home-intro-contact-button-link {
        grid-column-start: 8;
        grid-column-end: 12;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .home-about-me {
        grid-template-rows: repeat(6, auto);
    }
    
    .home-about-me-image {
        grid-column-start: 8;
        grid-column-end: 13;
        grid-row-start: 1;
        grid-row-end: 6;
        min-width: 20rem;
    }
    
    .home-about-me-heading {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .home-about-me-text {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    .home-about-me-button-link {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    
    .home-gallery {
        grid-template-rows: repeat(2, auto);
    }
    
    .home-gallery-image {
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .home-gallery-button-link {
        grid-column-start: 6;
        grid-column-end: 9;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}