.home {
  background-color: #e3ddd8;
  padding-top: 9rem;
}

.home-body-text,
.heading-1,
.heading-2 {
  color: #2d3d2e;
}

.heading-1 {
  font-size: 1.6rem;
}

/* .home-text-align,
.text-feature-text {
  text-align: center;
} */

.home-section-padding {
  margin-bottom: 2rem;
}

.home-text-padding {
  padding-bottom: 0.5rem;
}

.padding-top {
  padding-top: 2rem;
}

.image-border {
  border-radius: 2rem;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 1rem;
  padding: 4rem 2rem;
}

.home-image-slider {
  margin: 0 auto;
  padding-bottom: 2rem;
}

.home-intro-section {
  grid-template-rows: repeat(7, auto);
}

.text-feature {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.home-intro-feature-image {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.home-intro-text {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.home-about-me {
  grid-template-rows: repeat(5, auto);
}

.home-about-me-image {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.home-about-me-heading {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.home-about-me-text {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.home-about-me-button-link {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}

.home-gallery {
  grid-template-rows: repeat(3, auto);
}

.home-image-slider {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.home-gallery-text {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.home-gallery-button-link {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

@media only screen and (min-width: 50rem) {
  .home-section-padding {
    margin-bottom: 0rem;
  }

  .home {
    padding-top: 6rem;
  }

  .padding-top {
    padding-top: 0rem;
  }

  .text-feature-text {
    padding-bottom: 4rem;
  }

  .home-button-padding {
    padding-bottom: 4rem;
  }

  .home-text-align {
    text-align: left;
  }

  .home-grid {
    grid-template-columns: repeat(8, 1fr);
    padding: 4rem 5rem;
  }

  .home-intro {
    grid-template-rows: repeat(6, auto);
  }

  .heading-1 {
    font-size: 2.3rem;
  }

  .home-image-slider {
    max-width: 100%;
    padding-bottom: 0;
    margin: 0;
  }

  .text-feature {
    grid-column: 1 / 9;
    grid-row: 1 / 2;
  }

  .home-intro-feature-image {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 8;
  }

  .home-intro-text {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .home-about-me {
    grid-template-rows: repeat(6, auto);
  }

  .home-about-me-image {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
    min-width: 20rem;
  }

  .home-about-me-heading {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .home-about-me-text {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .home-about-me-button-link {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .home-gallery {
    grid-template-rows: repeat(4, auto);
  }

  .home-image-slider {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .home-gallery-text {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .home-gallery-button-link {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

@media only screen and (min-width: 70rem) {
  .home-grid {
    grid-template-columns: repeat(12, 1fr);
    padding: 4rem 4.375rem;
  }

  .heading-1 {
    font-size: 7rem;
    letter-spacing: -0.2rem;
    line-height: 7.5rem;
  }

  .home-body-text {
    font-size: 1.5rem;
  }

  .button-heading-text {
    font-size: 1.8rem;
  }

  .home-intro-text,
  .home-about-me-content,
  .home-button-align {
    align-self: end;
  }

  .text-feature {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
  }

  .home-intro-feature-image {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .home-intro-text {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .home-about-me-image {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 3;
    min-width: 20rem;
  }

  .home-about-me-content {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .home-about-me-button-link {
    grid-column: 1/4;
    grid-row: 2/3;
  }

  .home-gallery {
    grid-template-rows: repeat(4, auto);
  }

  .home-gallery-text {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
  }

  .home-image-slider {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 5;
  }

  .home-gallery-button-link {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
