.image-slide-container {
  height: 100%;
  width: 100%;
}

.image-slide {
  max-height: 45rem;
  width: 100%;
  object-fit: cover;
}

.image-slider {
  position: relative;
}

.image-slide-number {
  color: #e8e9eb;
  position: absolute;
  left: 0;
  bottom: 1.5rem;
}

.image-slider-right-arrow {
  color: #e8e9eb;
  position: absolute;
  font-size: 1.4rem;
  right: 0;
  bottom: 1.5rem;
  transition: 0.2s ease-in-out;
}

.image-slider-left-arrow {
  color: #e8e9eb;
  position: absolute;
  font-size: 1.4rem;
  right: 8rem;
  bottom: 1.5rem;
  transition: 0.2s ease-in-out;
}

.image-slider-right-arrow:hover,
.image-slider-left-arrow:hover {
  cursor: pointer;
  font-size: 1.6rem;
  transition: 0.2s ease-in-out;
}

.image-slide-title {
  color: #e8e9eb;
  position: absolute;
  bottom: 0;
}
