.image-slide-container {
    height: 100%;
    width: 100%;
    padding-bottom: 3.5rem;
}

.image-slide {
    height: 100%;
    max-width: 20rem;
    object-fit: cover;
}

.home-image-slider {
    position: relative
}

.image-slide-number {
    color: #E8E9EB;
    position: absolute;
    left: 0;
    bottom: 1.5rem;
}

.image-slider-right-arrow {
    color: #E8E9EB;
    position: absolute;
    font-size: 1.4rem;
    right: 0;
    bottom: 1.5rem;
}

.image-slider-left-arrow {
    color: #E8E9EB;
    position: absolute;
    font-size: 1.4rem;
    right: 8rem;
    bottom: 1.5rem;
}

.image-slider-right-arrow:hover, .image-slider-left-arrow:hover {
cursor: pointer;
}

.image-slide-title {
    color: #E8E9EB;
    position: absolute;
    bottom: 0;
}